<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Все публикации:</h1>
    
    <form action="/posts" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="form_block">
            {{ form.title.label() }}
            {{ form.title }}
        </div>
        <div class="form_block">
            {{ form.text.label() }}
            {{ form.text }}
        </div>
        <div class="form_block">
            {{ form.author.label() }}
            {{ form.author }}
        </div>
        <div class="btn_block">
            {{ form.submit }}
        </div>
    </form>

    <ol class="all_users">
        {% for post in posts %}
            <li>{{ post.title }}</li>
            <li>{{ post.text }}</li>
        {% endfor %}
    </ol>
</body>
</html>