@font-face {
    font-family: 'My Font';
    src: url(../fonts/RobotoSlab-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background-color: black;
}

                                    /* Оболочка */

.wrapper{
    min-height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: darkorchid;
}

                                    /* Шапка */

header{
    background-color: aqua;
    border-radius: 0 0 12px 12px;
}

header, .header_container, nav, .nav_list{
    width: 100%;
    height: 100px;
    display: flex;
}

.nav_list{
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.nav_list li a{
    font-family: 'My Font';
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.nav_list li{
    transition: 0.5s;
}

.nav_list li:hover{
    transform: scale(1.2);
    transition: 0.5 s;
}

                                    /* Контент */

main{
    flex: 1 1 auto;
}

.main_conteiner{
    height: 545px;
    display: flex;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Контент главной страницы */

.card_container{
    max-width: 70%;
}

.card{
    margin-bottom: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 12px;
}

/* Форма добавления статей */





.no_find_text{
    display: flex;
    justify-content: center;
    width: 40%;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}


                                    /* Footer */

footer{
    background-color: aqua;
    border-radius: 12px 12px 0 0;
}

.footer_container, footer{
    width: 100%;
    height: 50px;
    display: flex;
}

.footer_container{
    justify-content: center;
    align-items: center;
}

.footer_container p{
    font-family: 'My Font';
    font-size: 20px;
}






