# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
local_settings.py


# Celery
celerybeat-schedule
celerybeat.pid

# Environments
.venv
env/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore
Dockerfile*
docker-compose*.yml
README_CELERY.md

