{% extends 'ex_main.html' %} <!-- extends - блок, наследующий именованные блоки, содержащие в себе шаблоны -->
                             <!-- можно указывать путь через папки до самого файла, например 'templates/ex_main.html' -->
{% block title %}О нас{% endblock %}

{% block content %}
{{ super() }} <!-- наследует содержимое у родительского файла с соответствующим именным блоком -->
<!-- Чтобы унаследовать содержимое конкретного именного блока, поместите super() в нужный вам блок, например: -->
<!-- вместо фигурных скобок укажу угловые, так как шаблоны читаются даже в закомментированном тексте -->
<!-- <% block table_content %> super() <% endblock table_content %> -->
<h1>{{ self.title() }}</h1> <!-- с помощью self можем обратиться к любому блоку, вызывая его как функцию -->
<p>Содержание страницы</p>
{% endblock %}