<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title -%}
{% if title %}
    <title>Про фласк - {{ title }}</title>
{% else %}
    <title>Про фласк</title>
{% endif %}
{% endblock %}
</head>
<body>
{% block content -%}
    {%- block main_menu -%}
    <ul>
    {% for m in menu -%}
        <li>{{ m }}</li>
    {% endfor -%}
    </ul>
    {% endblock main_menu %}
    {% if title -%}
    <h1 style="color: red">{{ title }}</h1>
    {% else -%}
    <h1 style="color: red;">Про фласк</h1>
    {% endif -%}
{% endblock %}
</body>
</html>