<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> <!-- Подключаем стильчерез url_for, для шаблонов -->
    {% block title -%}
        {% if title %}
            <title>Про Flask - {{ title }}</title>
        {% else %}
            <title>Про Flask</title>
        {% endif %}
    {% endblock title %}
</head>
<body>
    {% block content %}
        {%- block main_menu -%}
            <div class="nav_menu">    
                <ul>
                    {% for elem in menu -%}
                        <li>
                            <a href="{{ elem.url }}">{{ elem.name }}</a> <!-- обращаемся к элементу elem по ключу -->
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endblock main_menu %}
        <div class="many_content">
            {% if title %}
                <h1>{{ title }}</h1>
            {% else %}
                <h1>Про Flask</h1>
            {% endif %}
        </div>
    {% endblock content %}
</body>
</html>