{% import 'dialogs.html' as dlg %}
{% include 'my_header.html' %} <!-- includ - включает содержимое указанного файла -->
                               <!-- ignore missing - игнорирование исключения, когда указанный файл не найден -->
                               <!-- [файл_1, файл_2] - в квадратных скобках перечисляем несколько включаемых файлов -->
{{ dlg.dialog_1('Внимание', 'Это тестовый диалог') }}
    <p>Содержание страницы</p>
{% include 'my_footer.html' %}
<!-- Второй способ -->
<!-- {% from 'dialogs.html' import dialog_1 %} - обращаемся напрямую к нужному макросу -->
<!-- {{ dialog_1('Внимание', 'Это тестовый диалог') }} -->

<!-- Или {% from 'dialogs.html' import dialog_1 as dlg %} - сохраняем в переменную -->
<!-- {{ dlg('Внимание', 'Это тестовый диалог') }} -->
