*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
    background-image: url(../images/bacgroundImageOnAutomobileWebsite.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
}
.container{
    min-height: 650px;
    max-width: 1048px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 10px;
}
@media (max-height: 1081px) {
    .container{
        min-height: 960px;
    }
    
}
@media (max-height: 650px) {
    .container{
        min-height: 650px;
    }
    
}
/* ----------------------------Header------------------------------ */
header{
    margin-top: 10px;
}
.headerContainer{
    display: flex;
    min-width: 100%;
    height: 100px;
    background-color: rgb(54, 54, 54);
    border-radius: 10px;
}
.imageContainer img{
    border-radius: 5px;
}
.imageContainer{
    display: inline-block;
    width: 120px;
    padding: 14px 0 0 10px;
}
.siteNameContainer{
    display: inline-flex;
    min-width: 335px;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.siteNameContainer p{
    font-size: 40px;
    display: inline-block;
    color: white;
}
.siteNameContainer p:nth-child(1){
    color: rgb(28, 197, 28);
    margin: 0 -4px 0 0 ;
}
.siteNameContainer p:nth-child(2){
    color: rgb(0, 110, 255);
    margin: 0 -4px 0 0 ;
}
.siteNameContainer p:nth-child(3){
    color: red;
}
.headerNavMenu{
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
}
.headerNavMenu ul{
    display: grid;
    min-width: 573px;
    grid-column-gap: 12px;
    height: 100px;
    grid-template-columns: 61px 116px 100px 44px 0 49px 96px;
    grid-template-rows: 100px;
    align-content: center;
}
.headerNavMenu li{
    display: inline-flex;
    align-items: center;
}
.headerNavMenu div{
    height: 50px;
    border-right: 2px solid burlywood;
}
.headerNavMenu a{
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    color: burlywood;
    font-size: 18px;
}
.headerNavMenu a:hover{
    transition: 0.5s;
    background-color: white;
    color: black;
}

/* ----------------------------Main------------------------------ */

.helloContainer{
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
}
.helloContainer p{
    text-align: center;
    width: 430px;
    font-size: 50px;
    color: burlywood;
    background-color: rgb(54, 54, 54);
    border-radius: 10px;
}
.greetings{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px 0;
}
.greetings p{
    font-size: 50px;
    text-align: center;
    background-color: rgb(54, 54, 54);
    color: burlywood;
    border-radius: 10px;
    padding: 10px;
    
}
.greetings p:nth-child(1){
    grid-column: 2 / 4;
}
.greetings p:nth-child(2){
    grid-column: 1 / 3;
}
.greetings p:nth-child(3){
    grid-column: 2 / 4;
}
.greetings p:nth-child(4){
    grid-column: 1 / 4;
}
/* ----------------------------Footer------------------------------ */
footer{
    margin: 15px 0;
}
.footerBlock{
    min-width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: burlywood;
    border-radius: 10px;
}
.footerBlock p{
    font-size: 20px;
    color: rgb(54, 54, 54);
}
.footerBlockItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}