<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/towns" method="post">
        <div>{{ form.hidden_tag() }}</div>

        {% for elem in form  if elem.name != 'csrf_token' %}
            <div>
                {{ elem.label() }}
                {{ elem() }}
            </div>
        {% endfor %}

        <button type="reset">Очистить</button>
            
    </form>
    {% for town in towns %}
        <div>
            {{ town.town_name }}
        </div>
    {% endfor %}

</body>
</html>